* {
    /* border: 1px solid red; */
    font-family: 'El Messiri', sans-serif;
}

body {
    margin: auto;
    max-width: 480px;
    background-image: url('img/background-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e7a15c;
}

header {
    text-align: center;
    margin: auto;
    width: 55%;
}

.game-name {
    background-color: #e8735d;
    border: 15px solid #e8735d;
    border-radius: 15px;
    font-size: 170%;
}

main {
    text-align: center;
}

.hide {
    display: none;
}

.stop-click {
    pointer-events: none;
}

.upper-container {
    margin: 3% auto;
    width: 80%;
    background-color: #e8735d;
    border: 15px solid #e8735d;
    border-radius: 15px;
}

.player-turn-container {
    margin-top: 5%;
}

.scoreboard-title {
    font-size: 150%;
    margin-top: 0;
}

.scoreboard-container {
    margin: 0 auto;
    font-size: 160%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    width: 58%;
    max-height: 160px;
}

.sushi-img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.player-1-score-board {
    display: flex;
    align-items: center;
}

.player-2-score-board {
    display: flex;
    align-items: center;
}

.player-turn-container {
    margin-top: 10%;
}

.tile-container {
    display: grid;
    margin: 4% auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 480px;
    background-color: #e7a15c;
    border: 15px solid #e7a15c;
    border-radius: 15px;
}

.tile {
    border: 5px solid #e7a15c;
    border-radius: 15px;
    box-shadow: inset 0 0 20px #e7a15c;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    min-height: 140px;
    min-width: 140px;
}

.x-img {
    background-image: url('img/x-sushi.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.o-img {
    background-image: url('img/o-sushi.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.announcement {
    margin: 0 auto;
    width: 60%;
    font-size: 180%;
    background-color: #e7a15c;
    border: 0px solid #e8735d;
    border-radius: 10px;
    box-shadow: inset 0 #e8735d;
}

button {
    background-color: #e8735d;
    margin: 0 2% 2% 2%;
    padding: 1% 3%;
    font-size: 120%;
    border: #e8735d;
    border-radius: 5px;
}